.app-wrapper {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  background-image:
    linear-gradient(
      0deg,
      transparent 24%,
      rgba(255, 255, 255, 0.8) 25%,
      rgba(255, 255, 255, 0.8) 26%,
      transparent 27%,
      transparent 74%,
      rgba(255, 255, 255, 0.8) 75%,
      rgba(255, 255, 255, 0.8) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      rgba(255, 255, 255, 0.8) 25%,
      rgba(255, 255, 255, 0.8) 26%,
      transparent 27%,
      transparent 74%,
      rgba(255, 255, 255, 0.8) 75%,
      rgba(255, 255, 255, 0.8) 76%,
      transparent 77%,
      transparent
    );
  background-size: 80px 80px;
  z-index: 1;
}

.content {
  width: 100%;
  position: relative;
  display: flex;
  padding-top: 8rem;
  min-height: 100vh;
  z-index: 1;
}

.left-section,
.right-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-section {
  width: 40%;
  padding: 2rem;
}

.right-section {
  width: 60%;
  padding: 2rem;
}

@media screen and (max-width: 992px) {
  .content {
    flex-direction: column;
    padding-top: 5rem;
    gap: 1rem;
    min-height: auto;
  }

  .left-section,
  .right-section {
    width: 100%;
    padding: 0.5rem;
  }

  .right-section {
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .app-wrapper {
    min-height: 100vh;
    max-height: 100vh;
    height: 10en;
  }

  .content {
       height: auto;
  }

  .content {
    padding-top: 3rem;
    gap: 0.5rem;
    min-height: auto;
    height: auto;
  }

  .left-section {
    padding: 0.25rem 0.5rem;
  }

  .right-section {
    padding: 0.25rem 0.5rem 1.5rem;
  }
}